<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<!--    <bean id="alien" class="com.sahin.Alien" scope="prototype">-->
<!--    </bean>-->


<!--    Autowireing = byName ,byType-->

    <bean id="alien" class="com.sahin.Alien" autowire="byType">
<!--        <property name="com" ref="com1"></property>-->
        <property name="com" ref="com1"/>
        <property name="age" value="21" ></property>

<!--        This type only works when there is only one that type of data accepted by Constructor-->
<!--        <constructor-arg ref="laptop" type="com.sahin.Laptop"/>-->
<!--        <constructor-arg value="21" type="int"/>-->


<!--        We can use index to identify the position of where to set the data. index starts from 0-->
<!--        Ideal Solution-->
<!--        <constructor-arg index="1" ref="laptop"/>-->
<!--        <constructor-arg index="0" value="21"/>-->

<!--We can use variable name to set the data-->

<!--        <constructor-arg name="lap" ref="laptop"/>-->
<!--        <constructor-arg name="age" value="21"/>-->




    </bean>


    <bean id="com" class="com.sahin.Laptop" primary="true"/>
    <bean id="com1" class="com.sahin.Desktop"/>

    <!--    <bean id="laptop" class="com.sahin.Laptop"/>-->



</beans>

